body {
  overflow-x: hidden;
}
header.head {
  margin: .7rem auto 0 auto;
  width: 6.96rem;
  display: flex;
  flex-flow: row nowrap;
}
header.head .icon {
  width: 0.08rem;
  height: 0.38rem;
  margin: 0 .1rem 0 0;
  border-radius: .04rem;
  background-color: #9fd7fb;
}
header.head .take-photo {
  position: relative;
  width: 2.6rem;
  height: .6rem;
  margin-left: 2.5rem;
  border: none;
  outline: none;
  border-radius: .4rem;
  font-size: .26rem;
  color: white;
  text-align: center;
  background-color:#FFB257;
}
header.head .take-photo input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  font-size: .26rem;
  background-color: #fff;
  width: 2.6rem;
  opacity: 0;
  filter: alpha(opacity=0);
}
.content {
  width: 5.76rem;
  margin: 0 auto;
}
.content div {
  border-bottom: .02rem solid #d6eff1;
  height: .8rem;
  line-height: 1rem;
  font-family: PingFangSC-Regular;
  font-size: .28rem;
  color: rgba(0, 0, 0, 0.6);
}
.content div input {
  padding-left: .2rem;
  font-family: PingFangSC-Regular;
  font-size: .3rem;
  color: rgba(0, 0, 0, 0.85);
}
.remind {
  margin: .7rem auto 0 auto;
  width: 6.96rem;
  display: flex;
  flex-flow: row nowrap;
}
.remind .icon {
  width: 0.08rem;
  height: 0.38rem;
  margin: 0 .1rem 0 0;
  border-radius: .04rem;
  background-color: #9fd7fb;
}
.remind span {
  font-size: .32rem;
}
.remind-content {
  width: 5.76rem;
  height: 1.8rem;
  margin: 0.3rem auto;
  word-wrap: break-word;
  font-family: PingFangSC-Regular;
  font-size: .26rem;
  color: rgba(0, 0, 0, 0.6);
}
.ps {
  width: 5.76rem;
  height: .68rem;
  margin: 0 auto;
  font-family: PingFangSC-Regular;
  word-wrap: break-word;
  font-size: .24rem;
  color: #4EB2EA;
}
.submit {
  display: block;
  width: 5.62rem;
  height: .88rem;
  line-height: .88rem;
  margin: .7rem auto;
  outline: none;
  border: none;
  border-radius: .4rem;
  background-color: #79c3f6;
  font-size: .32rem;
  text-align: center;
  color: #fafdff;
}
#prebox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}
#prebox button {
  display: block;
  width: 5.62rem;
  height: .88rem;
  margin: 1rem auto 3.8rem auto;
  outline: none;
  border: none;
  border-radius: .4rem;
  background-color: #79c3f6;
  font-size: .32rem;
  color: #fafdff;
}
